@if (loaded) {
  <div class="row my-5">
    @for (final of FinalList; track final.id) {
      <div class="col-md-3 mb-4">
        <div class="card" [routerLink]="'/final/detail/'+final.id">
          <img [src]="final.img_url" class="card-img-top object-fit-cover" [alt]="final.name" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title fw-bold text-primary">{{final.name}}</h5>
            <p class="card-text mb-0 small text-truncate">
              <span class="text-secondary">Género:</span> {{final.gender}}
            </p>
            <p class="card-text"><small class="text-muted">{{ final.origin }}</small></p>
          </div>
        </div>
      </div>
    }
  </div>
} @else {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}

