
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 0;
  padding-bottom: 140%;
  perspective: 1000px;
  margin: 0 ;
}


.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
}

.flip-card-back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}
